.wholeCard {
    border-radius: .3rem;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    border-top: .3rem solid;
    border-top-style: solid;
    border-top-color: #159bd7;
}

.wholeCard:hover {
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.2);
}
    

.bad {
    background-color: #f59f71;
    color: #ffffff;
}

.good {
    background-color: #41c8a0;
    color: #ffffff;
}

.eh {
    background-color: #49bcd3;
    color: #ffffff;
}