.THIS .lsmOption {
    padding-top: .5rem;
    padding-bottom: .5rem;
    position: relative;
}
.THIS .lsmOptionText {
    font-size: .8125rem;
    font-weight: 400;
    color: rgb(62, 62, 60);
    padding-left: .5rem !important;
    display: inline-block;
}
.THIS .lmsOption svg {
    fill: rgb(8,7,7) !important;
}